h1 {background-color:yellow;} 
h1{color:blue;}
p{background-color:blue;}
p{color:orange;}
h2{background-color:red;}
h2{color:green;}
h3{background-color:purple;}
h3{color:yellow;}
ul{background-color:blue;}
li{background-color:red;}
h1{font-family: 'Mali', curvisive;}